GLOBAL/SHAPES/*.s
GLOBAL/SHAPES/*.sd
GLOBAL/TEXTURES/*.ace
GLOBAL/TEXTURES/**/*.ace
GLOBAL/TEXTURES/*.dds
GLOBAL/TEXTURES/**/*.dds
ROUTES/OR_ASSENSBANEN1966/SHAPES/*.s
ROUTES/OR_ASSENSBANEN1966/SHAPES/*.sd
ROUTES/OR_ASSENSBANEN1966/TEXTURES/*.ace
ROUTES/OR_ASSENSBANEN1966/TEXTURES/**/*.ace
ROUTES/OR_ASSENSBANEN1966/TEXTURES/*.dds
ROUTES/OR_ASSENSBANEN1966/TEXTURES/**/*.dds
ROUTES/OR_ASSENSBANEN1966/TERRAIN_MAPS/*.png
ROUTES/OR_ASSENSBANEN1966/TERRTEX/*.ace
ROUTES/OR_ASSENSBANEN1966/TERRTEX/**/*.ace
ROUTES/OR_ASSENSBANEN1966/TERRTEX/*.dds
ROUTES/OR_ASSENSBANEN1966/TERRTEX/**/*.dds
ROUTES/OR_ASSENSBANEN1966/TILES/*.t
ROUTES/OR_ASSENSBANEN1966/TILES/*.raw
TRAINS/TRAINSET/*/
